<!-- footer -->
<nav id = 'buttonNav' class="navbar navbar-inverse navbar-fixed-bottom" style="height: 50px">
    <div class="navbar-header pull-right">
        <div>
            <ul class="nav navbar-nav pull-right">
                <li ng-show="model.userId">
                    <a href="#!/user/{{model.userId}}"><span class="glyphicon glyphicon-user"></span></a></li>
                <li><a href="#!/"><span class="glyphicon glyphicon-home"></span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
