<nav class="navbar navbar-inverse navbar-fixed-top" style="height: 50px">
    <div class="navbar-header">
        <!--left arrow-->
        <a class="navbar-brand"
           href="{{model.back}}">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <!--section name-->
        <span class="navbar-brand">
        {{model.header}}
        </span>

        <!--operation-->
        <a ng-click="model.topRightOperation()"
           class="navbar-brand navbar-right-operation">
            <span class={{model.topRightOperationIcon}}></span>
        </a>
    </div>
</nav>